<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>weekSort</key>
		<string>1</string>
		<key>weekitem</key>
		<array>
			<dict>
				<key>academicTitle</key>
				<string>副教授</string>
				<key>academicYear</key>
				<string>2017</string>
				<key>campus</key>
				<string>北区</string>
				<key>classRoom</key>
				<string>08-0505</string>
				<key>day</key>
				<string>3</string>
				<key>endTime</key>
				<string>5</string>
				<key>lessonId</key>
				<string>2016-1000010</string>
				<key>lessonName</key>
				<string>数据结构</string>
				<key>startTime</key>
				<string>4</string>
				<key>teacher</key>
				<string>王平</string>
				<key>term</key>
				<string>1</string>
				<key>week</key>
				<string>星期三</string>
			</dict>
			<dict>
				<key>academicTitle</key>
				<string>副教授</string>
				<key>academicYear</key>
				<string>2017</string>
				<key>campus</key>
				<string>北区</string>
				<key>classRoom</key>
				<string>08-0505</string>
				<key>day</key>
				<string>1</string>
				<key>endTime</key>
				<string>3</string>
				<key>lessonId</key>
				<string>2016-1000010</string>
				<key>lessonName</key>
				<string>化学</string>
				<key>startTime</key>
				<string>1</string>
				<key>teacher</key>
				<string>王平</string>
				<key>term</key>
				<string>1</string>
				<key>week</key>
				<string>星期三</string>
			</dict>
			<dict>
				<key>academicTitle</key>
				<string>副教授</string>
				<key>academicYear</key>
				<string>2017</string>
				<key>campus</key>
				<string>北区</string>
				<key>classRoom</key>
				<string>08-0505</string>
				<key>day</key>
				<string>2</string>
				<key>endTime</key>
				<string>9</string>
				<key>lessonId</key>
				<string>2016-1000010</string>
				<key>lessonName</key>
				<string>数据库</string>
				<key>startTime</key>
				<string>7</string>
				<key>teacher</key>
				<string>王平</string>
				<key>term</key>
				<string>1</string>
				<key>week</key>
				<string>星期三</string>
			</dict>
			<dict>
				<key>academicTitle</key>
				<string>副教授</string>
				<key>academicYear</key>
				<string>2017</string>
				<key>campus</key>
				<string>北区</string>
				<key>classRoom</key>
				<string>08-0505</string>
				<key>day</key>
				<string>4</string>
				<key>endTime</key>
				<string>9</string>
				<key>lessonId</key>
				<string>2016-1000010</string>
				<key>lessonName</key>
				<string>数据库</string>
				<key>startTime</key>
				<string>7</string>
				<key>teacher</key>
				<string>王平</string>
				<key>term</key>
				<string>1</string>
				<key>week</key>
				<string>星期三</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
